<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="testing blog contributors">
			<directory prefix="Test" suffix=".php">./tests/phpunit/</directory>
			<exclude>./tests/phpunit/TestSample.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
